<!-- <owl-carousel [options]="carouselOptions" [items]="wkt2" [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item" *ngFor="let data of wkt2;let i= index" >
    <div class="slide-text">
      <div class="row">   
        
         <div class="col-3 col-md-5  awayalign"> <h6>{{data.name}}</h6></div>
    <div class="col-6 col-md-2 vsalign"> <h6>{{data.match}}<br>{{data.id}}</h6><span class="mobheight">{{data.date}}</span></div>
    <div class="col-3 col-md-5 homealign"><h6>{{data.name1}}</h6> </div>

    <div class="col-12 stadium"> <h6> {{data.stadium}}</h6> </div>
  
  </div>

    </div>
      </div>
</owl-carousel> -->
