<!-- <mat-form-field *ngIf="this.innings>=3">
  <mat-label>Select an option</mat-label >
  <mat-select name="graphoption" (selectionChange)="graphOptions($event.value)">
    <mat-option *ngFor="let graphOptions of graphid let i = index" [value]="graphOptions.id"> {{graphOptions.id}}{{graphOptions.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<span >
  <div  #graphh style="min-width: 310px; height:auto; margin: 0 auto"></div>
</span> -->
<span >
  <div #graph style="min-width: 310px; height: auto; margin: 0 auto;"></div>
</span>
