<!-- <perfect-scrollbar style="max-width: 150em; max-height: 51em;" [config]="config">
  <div> -->
    <!-- <div class="container">
  <div class="row">
    <div class="col-6">
<app-livescore [Id]="Id"></app-livescore>
<app-livecommentary [Id]="Id"></app-livecommentary>
</div>
<div class="col-6">
<nav mat-tab-nav-bar backgroundColor="primary">
  <a *ngFor="let link of navLinks" mat-tab-link 
    #rla="routerLinkActive" 
        [active]="isViewInitialized && isLinkActive(rla)"
    [routerLink]="link.path" [queryParams]="{id:Id}" 
    routerLinkActive>
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
<nav mat-tab-nav-bar> -->
    <!-- <a mat-tab-link routerLink="scorecard"  [queryParams]="{id:Id}" >Score Card</a>
    <a mat-tab-link routerLink="commentary" [queryParams]="{id:Id}">Commentary</a>
    <a mat-tab-link routerLink="">Right tab</a>
  </nav>
   -->
<!-- <nav mat-tab-nav-bar backgroundColor="primary">
    <a *ngFor="let link of navLinks" mat-tab-link
      #rla="routerLinkActive"
      [active]="isViewInitialized && isLinkActive(rla)"
      [routerLink]="link.path"
      routerLinkActive>
      {{link.label}}
    </a> -->
    <!-- <ul class="nav nav-pills">
      <li class="nav-item">
          <a routerLink="['scorecard']"  [queryParams]="{id:Id}"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Score Card</a>
      </li>
      <li class="nav-item">
          <a routerLink="['commentary']"  [queryParams]="{id:Id}" class="nav-link" routerLinkActive="active">Recent</a>
      </li>
      <li class="nav-item">
          <a routerLink="archive" class="nav-link" routerLinkActive="active">Archive</a>
      </li>
    </ul>
   -->
  <!-- </nav> --> 

  <!-- </div>
  </div>
  </div> -->
<!-- </div>
</perfect-scrollbar> -->