
<!-- <mat-tab-group>
  <mat-tab  *ngIf="inningslength>=1"  label={{this.teamname5}}><app-cinnings1 [Id]="Id"  ></app-cinnings1></mat-tab>
  <mat-tab  *ngIf="inningslength>=2"  label={{this.teamname6}}><app-cinnings2 [Id]="Id"></app-cinnings2></mat-tab>
  <mat-tab  *ngIf="inningslength>=3"  label={{this.teamname7}}><app-cinnings3 [Id]="Id"></app-cinnings3></mat-tab>
  <mat-tab  *ngIf="inningslength==4"  label={{this.teamname8}}><app-cinnings4 [Id]="Id"></app-cinnings4></mat-tab>
</mat-tab-group> -->