

<div class=tabAlignRight>
    <span class="scollFont1" (click)="scrollable.scrollToElement('#batting', 0, 1000).subscribe()">BATTING</span> <span class="scollFont" (click)="scrollable.scrollToElement('#wicket', 0, 1000).subscribe()">WICKET</span> <span class="scollFont" (click)="scrollable.scrollToElement('#bowler', 0, 1000).subscribe()">BOWLING</span>
  </div>
  <div style="height: 600px; background: #EFF2F3;width: 100%;
  float: left;">
  
  <ng-scrollbar #scrollable>
          
       
            <div id="batting">
  <div class="tables">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="BATTING">
        <th mat-header-cell *matHeaderCellDef><span class="teamTopName">{{this.teamfullname | uppercase}}:<br> BATTING </span></th>
        <td mat-cell *matCellDef="let batting"> <span class="fontname">{{batting.name | uppercase}}</span>
          <br><span class="fontout">{{batting.status}}</span><br><span class="fontscore"  *ngIf="batting.six!= null">6X{{batting.six}}
            4X{{batting.four}}</span></td>
      </ng-container>
  
      <ng-container matColumnDef="R">
        <th mat-header-cell *matHeaderCellDef> R </th>
        <td mat-cell *matCellDef="let batting"> {{batting.runs_scored}}</td>
      </ng-container>
  
      <ng-container matColumnDef="B">
        <th mat-header-cell *matHeaderCellDef> B </th>
        <td mat-cell *matCellDef="let batting">  {{batting.balls_faced}} </td>
      </ng-container>
  
      <ng-container matColumnDef="S/R">
        <th mat-header-cell *matHeaderCellDef> S/R </th>
        <td mat-cell *matCellDef="let batting"> {{batting.strikerate  | number:'1.1-2'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
  <!-- wicket table -->
  <div id="wicket">
  <div class="wicketsSize">
  
  <table mat-table [dataSource]="dataSourcew" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><span class="headHeighlights"><b>FALL OF WICKETS</b> </span></th>
  
      <td mat-cell *matCellDef="let wicket"><span class="fontname"> {{wicket.name}}</span> </td>
    </ng-container>
  
    <ng-container matColumnDef="wickets">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let wicket"> {{wicket.runs}}/{{wicket.orderid}} ({{wicket.over_ball}}) </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsw"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsw;"></tr>
  </table>
</div>
</div>
    <!-- bowling table -->
  <div id="bowler">
    <table mat-table [dataSource]="dataSourceb" class="mat-elevation-z8">
      <ng-container matColumnDef="BOWLING">
        <th mat-header-cell *matHeaderCellDef> <span class="bowlingHeighlights"><b>BOWLING</b> </span></th>
        <td mat-cell *matCellDef="let bowling"> <span class="fontname">{{bowling.name}}</span><br><span
            class="fontscore">O:{{bowling.over}}
            M:{{bowling.maiden}} NB:{{bowling.noball}} WD:{{bowling.wide}}
            Dot:{{bowling.dotball}}</span> </td>
      </ng-container>
  
      <ng-container matColumnDef="W">
        <th mat-header-cell *matHeaderCellDef> W </th>
        <td mat-cell *matCellDef="let bowling"> {{bowling.wickets}} </td>
      </ng-container>
  
      <ng-container matColumnDef="R">
        <th mat-header-cell *matHeaderCellDef> R </th>
        <td mat-cell *matCellDef="let bowling"> {{bowling.run}} </td>
      </ng-container>
  
      <ng-container matColumnDef="E/R">
        <th mat-header-cell *matHeaderCellDef> E/R </th>
        <td mat-cell *matCellDef="let bowling"> {{bowling.econmyrate | number:'1.1-2'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsb"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsb;"></tr>
    </table>
  </div>
</div>

  
    <div class="col-md-12 tool">
      <mat-toolbar color="primary">
        Extras: {{this.totalextra}} (B:{{this.byes}} LB:{{this.legbyes}} NB:{{this.noballs}} WD:{{this.wide}} P:{{this.penalties}})
      </mat-toolbar>
  
    </div>
    
  </div>
</ng-scrollbar>
</div>