.owl-carousel {
    width: 90% !important;
    margin: 10% auto;
  }
  
  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
  
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 30% !important;
  }
  
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  .owl-prev {
    position: absolute;
    top: 20%;
    left: 10px;
}
.owl-next {
  position: absolute;
  top: 20%;
  left: auto;
  right: 10px;
}
.owl-theme .owl-nav {
  display: none !important;
}
  /* .owl-carousel .prev-slide {
  //  background: url(./assets/images/nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
  }
  
  .owl-carousel .next-slide {
   // background: url(./assets/images/nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
  } */
  .owl-theme .owl-nav{
    margin-top: -20px !important; 
  }
  .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
  }
  .vsalign{
   text-align: center;
   padding-top: 7px;
  }
  .awayalign{
    text-align: right;
    padding-top: 10px !important;
  }
  .homealign{
    padding-top: 10px !important;
  }
  .stadium{
    text-align: center;
  }
  